# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/
*.xcuserstate

# SwiftPM
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/
